@model CCM_Website.Models.LearningPlatform

@{
    ViewData["Title"] = "Admin Panel - Learning Platform Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Learning Platform</h1>

<h4>LearningPlatform</h4>
<hr />
@Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <div class="form-group">
                <label asp-for="PlatformName" class="control-label">Platform Name</label>
                <input asp-for="PlatformName" class="form-control" />
                <span asp-validation-for="PlatformName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>
<br/>

