@model CCM_Website.Models.LearningPlatform

@{
    ViewData["Title"] = "Learning Platform Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="LearningPlatform" asp-action="Index">Learning Platform</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
</nav>

<div class="row">
    <div class="col"><h1>Create Learning Platform</h1></div>
    <div class="col text-end"><button class="btn btn-primary" onclick="history.back();">Back</button></div>
</div>

<hr />
@Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <div class="form-group">
                <label asp-for="PlatformName" class="control-label">Platform Name</label>
                <input asp-for="PlatformName" class="form-control" />
                <span asp-validation-for="PlatformName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>
<br/>

