@model CCM_Website.Models.LearningPlatform

@{
    ViewData["Title"] = "Learning Platform Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="LearningPlatform" asp-action="Index">Learning Platform</a></li>
        <li class="breadcrumb-item active" aria-current="page">Details</li>
    </ol>
</nav>

<div class="row">
    <div class="col"><h1>Learning Platform Details</h1></div>
    <div class="col text-end"><button class="btn btn-primary" onclick="history.back();">Back</button></div>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlatformName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlatformName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.PlatformId">Edit</a>
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>
