@model CCM_Website.Models.WeekActivities

@{
    ViewData["Title"] = "Edit Week Activities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb d-flex justify-content-start">
        <li><button class="btn btn-primary me-3" onclick="history.back();">Back</button></li>
        <div class="d-flex m-2">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a></li>
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="WeekActivities" asp-action="Index">Week Activities</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </div>
    </ol>
    <hr/>
</nav>

<div class="row my-3 align-items-center">
    <div class="col-md-10"><h1>Edit Week Activities</h1></div>
</div>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WeekActivityId" />
            <div class="form-group">
                <label asp-for="TaskOrder" class="control-label">Task Order</label>
                <input asp-for="TaskOrder" class="form-control" />
                <span asp-validation-for="TaskOrder" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="WeekId" />
            <div class="form-group">
                <label asp-for="WeekId" class="control-label">Week</label>
                <select disabled asp-for="WeekId" class="form-control" asp-items="ViewBag.WeekId"></select>
                <span asp-validation-for="WeekId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ActivitiesId" />
            <div class="form-group">
                <label asp-for="ActivitiesId" class="control-label">Activity</label>
                <select disabled asp-for="ActivitiesId" class="form-control" asp-items="ViewBag.ActivitiesId"></select>
                <span asp-validation-for="ActivitiesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskTitle" class="control-label">Task Title</label>
                <input asp-for="TaskTitle" class="form-control"/>
                <span asp-validation-for="TaskTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskStaff" class="control-label">Task Staff</label>
                <input asp-for="TaskStaff" class="form-control"/>
                <span asp-validation-for="TaskStaff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskTime" class="control-label">Task Time</label>
                <input asp-for="TaskTime" class="form-control" type="time"/>
                <span asp-validation-for="TaskTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TasksStatus" class="control-label">Task Status</label>
                <input asp-for="TasksStatus" class="form-control"/>
                <span asp-validation-for="TasksStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LearningTypeId" class="control-label"></label>
                <select asp-for="LearningTypeId" class="form-control" asp-items="ViewBag.LearningApproach"></select>
                <span asp-validation-for="LearningTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskLocation" class="control-label">Task Location</label>
                <input asp-for="TaskLocation" class="form-control"/>
                <span asp-validation-for="TaskLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskApproach" class="control-label">Task Approach</label>
                <input asp-for="TaskApproach" class="form-control"/>
                <span asp-validation-for="TaskApproach" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-primary"/>
                <a class="btn btn-secondary" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>


