@{
    ViewData["Title"] = "Admin Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb d-flex justify-content-start">
        <li><button class="btn btn-primary me-3" onclick="history.back();">Back</button></li>
        <div class="d-flex m-2">
            <li class="breadcrumb-item active" aria-current="page">Admin</li>
        </div>
    </ol>
    <hr/>
</nav>

<h2>Manage Workbooks</h2>
<hr/>
<div class="d-flex flex-wrap justify-content-start gap-2">
    <a class="btn btn-primary" asp-area="Admin" asp-controller="Workbook" asp-action="Index">
        View Workbooks
    </a>
</div>
<br/>
<h2>Manage Fields</h2>
<hr/>
<div class="d-flex flex-wrap justify-content-start gap-2">
    <a class="btn btn-primary" asp-area="Admin" asp-controller="Activities" asp-action="Index">
        Activities
    </a>
    <a class="btn btn-primary" asp-area="Admin" asp-controller="GraduateAttribute" asp-action="Index">
        Graduate Attributes
    </a>
    <a class="btn btn-primary" asp-area="Admin" asp-controller="LearningPlatform" asp-action="Index">
        Learning Platforms
    </a>
    <a class="btn btn-primary" asp-area="Admin" asp-controller="LearningType" asp-action="Index">
        Learning Types
    </a>
    <a class="btn btn-primary" asp-area="Admin" asp-controller="TaskLocation" asp-action="Index">
        Weekly Activity Locations
    </a>
    <a class="btn btn-primary" asp-area="Admin" asp-controller="TaskProgressStatus" asp-action="Index">
        Weekly Activity Progress Status
    </a>
    <a class="btn btn-primary" asp-area="Admin" asp-controller="TaskApproach" asp-action="Index">
        Weekly Activity Approach
    </a>
</div>
<br/>
<h2>Links and Dependency Tables</h2>
<hr/>
<p>This section should only be used to edit values if there is an issue occuring that cannot be fixed on the user pages.</p>
<div class="d-flex flex-wrap justify-content-start gap-2">
    <a class="btn btn-danger" asp-area="Admin" asp-controller="Week" asp-action="Index">
        Weeks
    </a>
    <a class="btn btn-danger" asp-area="Admin" asp-controller="WeekActivities" asp-action="Index">
        Weekly Activities Link
    </a>
</div>
