@model CCM_Website.Models.LearningType

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb d-flex justify-content-start">
        <li><button class="btn btn-primary me-3" onclick="history.back();">Back</button></li>
        <div class="d-flex m-2">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a></li>
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="LearningType" asp-action="Index">Learning Type</a></li>
            <li class="breadcrumb-item active" aria-current="page">Details</li>
        </div>
    </ol>
    <hr/>
</nav>

<div class="row my-3 align-items-start">
    <div class="col-md-10"><h2>Learning Type Details</h2></div>
</div>


<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Learning Type Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LearningTypeName)
        </dd>
        <dt class = "col-sm-2">
            Learning Type Colour
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LearningTypeColour)
        </dd>
        <dt class = "col-sm-2">
            Learning Type Text Colour
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LearningTypeTextColour)
        </dd>
    </dl>
</div>
