@model CCM_Website.Models.LearningType

@{
    ViewData["Title"] = "Edit Learning Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="LearningType" asp-action="Index">Learning Type</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>

<div class="row">
    <div class="col"><h1>Edit Learning Type</h1></div>
    <div class="col text-end"><button class="btn btn-primary" onclick="history.back();">Back</button></div>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LearningTypeId" />
            <div class="form-group">
                <label asp-for="LearningTypeName" class="control-label"></label>
                <input asp-for="LearningTypeName" class="form-control" />
                <span asp-validation-for="LearningTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LearningTypeColour" class="control-label"></label>
                <input asp-for="LearningTypeColour" class="form-control" />
                <span asp-validation-for="LearningTypeColour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

